*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgba(0, 0, 0, 0.674);
      font-family: "Inter", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.navbar{
    height: 70px;
    width: 100%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    position: fixed;
}
.logo{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 18px;  
}
.menu{
    height: 100%;
    width: 60%;
    display: flex;
    padding: 22px 250px;
    gap: 40px;
    color: grey;
    font-size: 10px;

}
.menu a{
     display: flex;
    text-decoration: none;
    font-size: 17px;
}
.ri-menu-line{
    height: 50px;
    width: 50px;
}
.container{
    height: 90%;
    width: 100%;
     display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    gap: 30px;
}

.container img{
    height: 60%;
    display: flex;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 40px;
    margin-top: 40px;
}
.container button{
        padding: 11px 35px;
        color: #fff;
        border-radius: 5px;
        background-color: #387ED1;
        border: none;
}
.button p{
     size: 100px;
    background-color: #387ED1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
}
.box{
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 120px;
}
.left{
    height: 100%;
    width: 45%;
    background-color:#fff;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    gap: 20px;
}
.left h1{
    margin-bottom: 40px;
}
h2{
    padding-right: 60px;
}
.right{
    height: 100%;
    width: 55%;
}
.right img{
    height: 90%;
}
.rectangle{
    height: 20%;
    width: 100%;
    /* background-color: rgb(32, 255, 255); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing{
    height: 200px;
    width: 100%;
    display: flex 
}
.first{
    height: 200px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    gap: 20px;
}
.first h2{
    padding-right: 70px;
}
.first p{
    padding-left: 150px;
}
.second{
    height: 200px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.second img{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square{
    height: 80%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
}
.square1{
    height: 80%;
    width: 40%;
    /* background-color: blanchedalmond; */
   display: flex;
   align-items: center;
   justify-content: center;
}

.square2{
    height: 80%;
    width: 60%;
    /* background-color: #387ED1; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.square2 p{
    padding-left: 100px;
}
.square h2{
    padding-right: 290px;
}
.container1{
    height: 200px;
    width: 100%;
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 130px;
}
.container1 button{
    size: 20px;
    background-color: #387ED1;
    size: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
